@{
    ViewBag.Title = "Welcome";
    List<Galeria_WEB.Models.Clases.Usuario> objetos = (List<Galeria_WEB.Models.Clases.Usuario>) ViewData["userList"];
}

<style>
    .section{
        margin: 50px auto;
        background-color: white;
        padding: 5%;
    }
    #logout{
        margin-bottom: 10px;
    }
    .control{
        display: inline-flex;
    }
    .control form{
        padding: 10px;
    }
</style>
<div class="section">
    <h2>Welcome</h2>

    <h3>Usuarios registrados</h3>
    @{
        var data = ViewBag.Message;
    }
    <h3>Id: @data.Contrasena</h3>
    <h3>UserName: @data.NombreUsuario</h3>

    <a href="/" class="btn btn-primary btn-lg active" id="logout" role="button" aria-pressed="true">Log out</a>   <br />

    <table class="table">
        <tr>
            <th>Nombre Usuario</th>
            <th>Nombre</th>
            <th>cedula</th>
            <th>Mail</th>
            <th>Controles</th>
        </tr>
        @foreach (var obj in objetos)
        {
            <tr>
                <td>
                    @obj.NombreUsuario
                </td>
                <td> @obj.Nombre</td>
                <td> @obj.Cedula</td>
                <td> @obj.Correo</td>
                <td>
                    <div class="control">
                        <form action="/Home/Delete" method="post">
                            <input class="btn btn-danger" type="submit" name="Delete" value="Delete" />
                        </form>
                        <form action="/Home/Edit" method="post">
                            <input class="btn btn-warning" type="submit" name="Edit" value="Edit" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>

</div>